@import "_style-lib.scss";

.about-flight {
  box-sizing: border-box;
  // width: 100%;

  padding-top: 45px;

  padding-left: 5.17%;
  padding-right: 5.17%;

  background-color: $companion1-bg-color;
  color: $companion1-text-color;

  background-image: url("../img/substrate-4-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/substrate-4-mobile@2x.jpg");
    background-size: 765px cover;
  }

  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    // width: 290px;
    width: 100%;

    font-size: 1.88rem;
    line-height: 2.75rem;
    font-weight: bold;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__paragraph {
    padding: 0;
    margin: 0;
    margin-bottom: 23px;

    font-size: 0.88rem;
    line-height: 1.5rem;
    font-weight: 300;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__link {
    margin: 0;
    margin-bottom: 26px;
  }

}

@media (min-width: 765px) {
  .about-flight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 75px;

    padding-left: 3.2%;
    padding-right: 3.2%;

    background-image: url("../img/substrate-4-tablet.jpg");


    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
        background-image: url("../img/substrate-4-tablet@2x.jpg");
        background-size: 765px cover;
    }

    &__title {

      margin-bottom: 61px;

      width: 100%;

      font-size: 2.88rem;
      line-height: 3.44rem;
      font-weight: bold;
    }

    &__wrapper {
      width: 47.98%;
      order: 1;
    }

    &__text {
      width: 100%;
      margin-bottom: 15px;
    }

    &__paragraph {
      width: 82.03%;

      margin-bottom: 23px;

      &:first-child {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &__link {
      margin-bottom: 0;
    }

  }
}


@media (min-width: 1600px) {
  .about-flight {

    padding-top: 120px;
    padding-left: 20.18%;
    padding-right: 20.18%;

    background-image: url("../img/substrate-4-desktop.jpg");


    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
        background-image: url("../img/substrate-4-desktop@2x.jpg");
        background-size: 1600px cover;
    }

    &__title {
      margin-bottom: 65px;

      width: 100%;

      font-size: 3.38rem;
      line-height: 3.75rem;
    }

    &__wrapper {
      // width: 682px;
      width: 59.83%;
    }

    &__text {
      width: 100%;
      margin-bottom: 15px;
    }

    &__paragraph {
      width: 100%;

      &:first-child {
        width: 100%;
      }
    }
  }
}
