@import "_style-lib.scss";

.about-Mars{
  padding-top: 40px;

  display: flex;
  flex-wrap: wrap;

  &__title {
    margin: 0;
    margin-bottom: 24px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 25px;

  }

  &__text {
    margin: 0;
    margin-bottom: 40px;

    &--2 {
      margin-bottom: 0;
    }
  }

  &__illustration {
    margin: 0 auto;
  }
}


@media (min-width: 765px) {
  .about-Mars{
    padding-top: 65px;
    justify-content: space-between;

    &__title {
      margin-bottom: 52px;
    }

    &__column {
      width: 48.5%;
    }

    &__text {
      margin-bottom: 0px;
    }
  }
}


@media (min-width: 1600px) {
  .about-Mars{
    padding-top: 88px;

    &__column {
      width: 40.61%;
    }

    &__illustration  {
      margin-top: -30.88%;
    }
  }
}

