.container {
    width: 290px;
    margin: 0 auto;

}

@media (min-width: 765px) {
    .container {
        width: 719px;
    }
}


@media (min-width: 1600px) {
    .container {
        width: 1140px;
    }
}
