@import "_style-lib.scss";

.info {
  box-sizing: border-box;
  width: 320px;

  padding: 35px 0;

  background-color: $companion7-bg-color;

  &__list {
    width: 290px;
    padding: 0;
    margin-left: 15px;

    border-spacing: 0;

    display: flex;
    flex-direction: row;
  }

  &__item {
    display: flex;

    &--value {
      padding: 0;
      padding-top: 4px;
      padding-bottom: 10px;

      font-size: 34px;
      line-height: 34px;
      font-weight: 600;

      color: $companion2-text-color;
    }

    &--value td {
      position: relative;
    }

    &--value td::before {
      @include pseudo-element;
      top: 25px;
      left: 20px;

      width: 1px;
      height: 49px;

      background-color: $companion8-bg-color;
    }

    &--value td:first-child::before {
      content: none;
    }

    &--field {
      padding: 0;

      font-size: 11px;
      line-height: 18px;
      font-weight: 400;

    }
  }

  &__subitem {
    box-sizing: border-box;
    width: 130px;
  }


  &__subitem--size {
    width: 160px;
    padding-left: 30px;
  }

  &__subitem--weight,
  &__subitem--sputnik,
  &__subitem--mountain,
  &__subitem--temperature {
    display: none;
  }
}


@media (min-width: 765px) {
  .info {
    width: 765px;
    padding: 40px 23px;


    &__list {
      width: 719px;
    }

    &__item {

      &--value {
        padding-bottom: 10px;

        font-size: 46px;
        line-height: 46px;
        font-weight: 700;
      }


      &--value td::before {
        top: 40px;
        left: 0px;
      }

      &--value td:nth-child(2)::before {
        left: -3px;
      }

      &--value td:nth-child(3)::before {
        left: 2px;
      }
    }

    &__subitem {
      width: 158px;
      padding-left: 30px;
    }

    &__subitem--distance {
      padding-left: 0;
      padding-right: 33px;

    }

    &__subitem--size {
      width: 202px;
      padding-left: 35px;
      padding-right: 15px;
    }

    &__subitem--weight {
      display: block;
      width: 202px;
      padding-left: 43px;
      padding-right: 15px;
    }

    &__subitem--sputnik {
      display: block;
      padding-left: 32px;
    }
  }
}


@media (min-width: 1600px) {
  .info {
    width: 1600px;
    padding: 43px 230px;


    &__list {
      width: 1140px;
    }

    &__item {
      &--value td:nth-child(2)::before {
        left: -12px;
      }

      &--value td:nth-child(5)::before {
        left: 5px;
      }

      &--value td:nth-child(6)::before {
        left: 29px;
      }
    }

    &__subitem {
      width: 165px;
    }

    &__subitem--distance {
      padding-left: 0;
      padding-right: 33px;
    }

    &__subitem--size {
      width: 195px;
      padding-left: 28px;
      padding-right: 15px;
    }

    &__subitem--weight {
      width: 225px;
      padding-left: 43px;
      padding-right: 15px;
    }

    &__subitem--sputnik {
      width: 195px;
      padding-left: 43px;
      padding-right: 30px;
    }

    &__subitem--mountain{
      display: block;
      width: 195px;
      padding-left: 45px;
      padding-right: 15px;
    }

    &__subitem--temperature {
      display: block;
      width: 165px;
      padding-left: 68px;
      padding-right: 0px;
    }
  }
}

