@import "_style-lib.scss";

.life-organization {
  padding-top: 50px;
  padding-bottom: 45px;

  &__title {
    width: 290px;

    padding: 0;
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 43px;
    font-weight: 700;

    color: $companion2-text-color;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 290px;
    padding: 0;
    padding-left: 24px;
    margin: 0;

    list-style: none;

    &::before {
      @include pseudo-element;

      top: 28px;
      left: 6px;

      width: 3px;
      height: 741px;

      background-color: $companion4-bg-color;
    }
  }

  &__list--no-js::before {
    height: 100%;
  }

  &__list--no-js &__item-wrapper {
    display: block;
    padding-bottom: 35px;
  }

  &__list--no-js &__item-button::before {
    background-color:$companion4-bg-color;
  }

  &__list--no-js &__item--open &__item-name {
    display: none;
  }

  &__item {
    padding: 0;
    padding-top: 5px;
    margin: 0;

    width: 267px;
  }

  &__item-button {
    position: relative;
    display: block;
    width: 30px;
    min-height: 30px;
    box-sizing: border-box;

    padding: 0;
    padding-left: 50px;
    margin: 0;
    margin-bottom: 22px;

    border: none;

    background-color: transparent;


    &::before {
      @include pseudo-element;

      top: 7px;
      left: -25px;

      box-sizing: border-box;
      width: 16px;
      height: 16px;

      border: 3px solid $companion4-bg-color;
      border-radius: 50%;

      background-color: $base-bg-color;
    }

    &::after {
      @include pseudo-element;

      top: 4px;
      left: 3px;

      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &--residence::after {
      width: 30px;
      height: 23px;

      background-image: url("../img/icon-1.svg");
    }

    &--work::after {
      width: 26px;
      height: 19px;

      background-image: url("../img/icon-2.svg");
    }

    &--research::after {
      width: 22px;
      height: 31px;

      background-image: url("../img/icon-3.svg");
    }

    &--leisure::after {
      width: 25px;
      height: 21px;

      background-image: url("../img/icon-4.svg");
    }

    &--environment::after {
      width: 26px;
      height: 27px;

      background-image: url("../img/icon-5.svg");
    }
  }


  &__item-name {
    display: none;
  }

  &__item-wrapper {
    display: none;
  }

  &__item-image {
    width: 262px;
    height: 125px;

    margin-bottom: 30px;
  }

  &__item-title {
    display: block;
    width: 267px;

    padding: 0;
    margin: 0;
    margin-bottom: 15px;

    font-size: 21px;
    line-height: 22px;
    font-weight: 700;
  }

  &__item-text {
    width: 267px;

    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  &__details-link {
    margin: 0;
  }

  //Поведение открытого слайда

  &__item--open &__item-button {
    width: 267px;

    &::before {
      background-color: $companion4-bg-color;
    }
  }

  &__item--open &__item-name {
      display: block;
      padding: 0;
      margin: 0;

      font-size: 18px;
      line-height: 24px;
      font-weight: 700;

      color: $companion2-text-color;
      text-align: left;
  }

  &__item--open &__item-wrapper {
      display: block;
       padding-bottom: 35px;
  }
}



@media (min-width: 765px) {
  .life-organization {
    padding-top: 60px;
    padding-bottom: 18px;

    &__title {
      width: 719px;

      margin-bottom: 40px;

      font-size: 42px;
      line-height: 42px;
    }

    &__list {
      flex-direction: row;
      width: 719px;
      padding-top: 10px;
      padding-left: 0px;

      &::before {

        top: 18px;
        left: 15px;

        width: 651px;
        height: 3px;
      }
    }

    &__list--no-js {
      flex-direction: column;

      &::before {
        content: none;
      }
    }

    &__list--no-js &__item-wrapper {
      width: 719px;
      position: relative;

      &::before {
        @include pseudo-element;

        top: -97px;
        left: 16px;

        width: 703px;
        height: 3px;

        background-color: $companion4-bg-color;
      }
    }

    &__item {
      padding-top: 35px;
      margin-bottom: 0;
      margin-right: 86px;
      width:30px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__item-button {
      margin-bottom: 40px;

      &::before {
        top: -33px;
        left: 0px;
      }

      &::after {
        top: 2px;
        left: -3px;
      }

      &--work::after {
        top: 8px;
        left: -6px;
      }

      &--leisure::after {
        top: 8px;
        left: -6px;
      }
    }

    &__item-image {
      width: 719px;
      height: 334px;

      margin-bottom: 33px;
    }

    &__item-text {
      width: 719px;
    }

    &__item--open {
      width: 230px;
    }

    &__item--open &__item-button{
      width: 230px;
    }

    &__item--open &__item-name {
      width: 230px;
    }

    &__item--open &__item-wrapper {
      width: 719px;
    }
  }
}



@media (min-width: 1600px) {
  .life-organization {
    padding-top: 105px;
    padding-bottom: 62px;

    &__title {
      width: 900px;

      margin-bottom: 55px;

      font-size: 52px;
      line-height: 52px;
    }

    &__list {
      flex-direction: column;
      width: 1140px;
      padding-top: 0px;
      padding-left: 0px;

      &::before {
        top: 24px;
        left: 7px;

        width: 3px;
        height: 651px;
      }
    }

    &__list--no-js::before {
      height: 100%;
    }

    &__list--no-js &__item {
      display: flex;
    }

    &__list--no-js &__item--open &__item-wrapper {
      position: relative;
      top: 0;
      left: 0;
    }

    &__list--no-js &__item-wrapper {
      width: 985px;
      &::before {
        content: none;
      }
    }

    &__item {
      padding-top: 40px;
      margin-bottom: 5px;
      margin-right: 0;
      width: 1140px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item-button {
      width: 155px;

      &::after {
        top: -35px;
        left: 45px;
      }

    }

    &__item-image {
      width: 985px;
      height: 457px;

      margin-bottom: 40px;
    }


    &__item-text {
      width: 985px;

      margin-bottom: 50px;
    }



    &__item--open {
      position: relative;
      width: 1140px;
    }

    &__item--open &__item-button{
      width: 155px;
      height: 236px;
      padding-left: 0px;
    }

    &__item--open &__item-name {
      width: 200px;

      text-align: end;
      transform: rotate(-90deg);
      position: absolute;

      top: 90px;
      left: -45px;
    }

    &__item--open &__item-wrapper {
      width: 985px;
      position: absolute;

      top: 0;
      left: 155px;
    }
  }
}
