@import "_style-lib.scss";

.logo {
  width: 145px;
  height: 39px;
  display: flex;
  justify-content: space-between;

  &__image {
    width: 39px;
    height: 39px;
    color: $companion4-bg-color;
  }

  &__text-wrapper {
    display: block;
    width: 96px;
    padding-top: 6px;
  }

  &__name-text,
  &__text {
    display: inline-block;
    padding: 0;
    margin: 0;

    color: $companion1-text-color;
  }

  &__name-text {
    // font-size: 16.8px;
    font-size: 100%;
    // line-height: 13px;
    line-height: 81.25%;
    font-weight: 600;
  }

  &__text {
    // font-size: 12.6px;
    font-size: 78.75%;
    // line-height: 13px;
    line-height: 81.25%;
    font-weight: 100;
  }


  &--footer {
    width: 114px;
    height: 32px;
    padding: 0 30px;
  }

  &--footer &__image {
    width: 32px;
    height: 32px;
    color: $base-bg-color;
  }

  &--footer:focus &__image,
  &--footer:hover &__image {
    color: $companion2-text-color;
    width: 35px;
    height: 35px;
  }

  &--footer &__text-wrapper {
    width: 74px;
    padding-top: 4px;
  }

  &--footer &__name-text,
  &--footer &__text {
    width: 74px;
  }

  &--footer &__name-text {
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
  }

  &--footer &__text {
    font-size: 9px;
    line-height: 9px;
    font-weight: 100;
  }

}


@media (min-width: 765px) {
  .logo {
    width: 195px;
    height: 48px;

    &__image {
      width: 48px;
      height: 48px;
    }

    &__text-wrapper {
      width: 125px;
      padding-top: 4px;
    }

    &__name-text,
    &__text {
      width: 125px;
    }

    &__name-text {
      // font-size: 21px;
      font-size: 131.25%;
      // line-height: 16px;
      line-height: 100%;

    }

    &--footer {
      width: 114px;
      padding: 0;

    }
  }
}


@media (min-width: 1600px) {
  .logo {
    width: 180px;

    &__image {
      width: 48px;
      height: 48px;
    }

    &__text-wrapper {
      padding-top: 6px;
    }

    &__name-text {
      font-size: 19px;
      line-height: 16px;
    }

    &__text {
      font-size: 15.75px;
      line-height: 21px;
    }


    &--footer {
      width: 170px;
    }

    &--footer &__text-wrapper {
      width: 120px;
      padding-top: 4px;
    }

    &--footer &__name-text,
    &--footer &__text {
      width: 120px;
    }

    &--footer &__name-text {
      font-size: 16px;
      line-height: 14px;
      font-weight: 600;
    }

    &--footer &__text {
      font-size: 11px;
      line-height: 11px;
      font-weight: 100;
    }
  }
}
