@import "_style-lib.scss";

.page-header {
    width: 100%;
    height: auto;
    min-height: 579px;

    background-color: $companion1-bg-color;
    color: $companion1-text-color;

    background-image: url("../img/head-img-mobile.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
        background-image: url("../img/head-img-mobile@2x.jpg");
    }
}


@media (min-width: 765px) {
  .page-header {
    // width: 765px;
    min-height: 940px;

    background-image: url("../img/head-img-tablet.jpg");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
        background-image: url("../img/head-img-tablet@2x.jpg");
        // background-size: 765px auto;
    }
  }
}


@media (min-width: 1600px) {
  .page-header {
    // width: 1600px;
    min-height: 950px;

    background-image: url("../img/head-img-desktop.jpg");
    // background-position: 0 0;
    // background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
        background-image: url("../img/head-img-desktop@2x.jpg");
        // background-size: 1600px auto;
    }
  }
}
