@import "_style-lib.scss";

.page-footer {
  box-sizing: border-box;

  padding: 55px 0 35px 0;

  background-color: $companion1-bg-color;
  color: $companion1-text-color;

  background-image: url("../img/substrate-5-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
      background-image: url("../img/substrate-5-mobile@2x.jpg");
      background-size: 320px cover;
  }

  &__wrapper {
    width: 62.76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__social {
    margin-bottom: 27px;
  }

  &__link {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__logo {
    margin: 0 auto;
  }
}


@media (min-width: 765px) {
  .page-footer {
    width: 100%;
    padding: 95px 0 10px 0;

    background-image: url("../img/substrate-5-tablet.jpg");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
        background-image: url("../img/substrate-5-tablet@2x.jpg");
        background-size: 765px cover;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      width: 100%;
      margin: 0;
    }

    &__social {
      margin: 0;
      order: 2;
    }

    &__link {
      margin: 0;
      order: 1;
    }

    &__logo {
      margin: 0;
    }
  }
}


@media (min-width: 1600px) {
  .page-footer {
    // width: 1600px;
    padding: 115px 0 10px 0;

    background-image: url("../img/substrate-5-desktop.jpg");

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
        background-image: url("../img/substrate-5-desktop@2x.jpg");
        background-size: 1600px;
    }
  }
}
