@import "_style-lib.scss";

.promo {
  position: relative;
  width: 290px;

  &__caption {
    width: 208px;
    margin: 0 auto;
    margin-bottom:  35px;
    text-transform: uppercase;
  }

  &__text1,
  &__text2,
  &__text3 {
    display: inline-block;
    padding: 0;
    margin: 0;

    font-size: 11.5px;
    line-height: 13px;
  }

  &__text1 {
    width: 134px;

    font-weight: 100;
  }

  &__text2 {
    width: 65px;

    margin-bottom: 8px;

    font-weight: 400;
  }

  &__text3 {
    width: 208px;
    font-size: 63px;
    line-height: 70px;
    font-weight: 900;
  }

  &__decor-text1,
  &__decor-text2 {
    display: none;
  }

  &__video {
    margin: 0 auto;
    margin-bottom: 82px;
  }

  &__slogan {
    position: absolute;
    width: 113px;

    left: 128px;
    top: 265px;

    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: $companion3-text-color
  }

  &__link {
    position: relative;
    display: block;
    width: 59px;
    height: 59px;

    margin: 0 auto;
    padding: 0;

    border-radius: 50%;

    background-color: $companion5-bg-color;

    cursor: pointer;

    &::before,
    &::after {
      @include pseudo-element;
      width: 12px;
      height: 1px;

      background-color: $base-bg-color;
    }

    &::before {
      transform: rotate(45deg);
      top: 34px;
      left: 18px;
    }

    &::after {
      transform: rotate(-45deg);
      width: 13px;
      top: 34px;
      left: 26px;

      box-shadow: 6px -5px 0px 0px $base-bg-color;
    }

    &:focus,
    &:hover {
      background-color: $companion10-bg-color;
    }

    &:active {
      background-color: $companion9-bg-color;
    }
  }


}



@media (min-width: 765px) {
  .promo {
    width: 719px;

    &__caption {
      width: 485px;
      margin-bottom:  65px;

    }

    &__text1,
    &__text2,
    &__text3 {

      font-size: 27px;
      line-height: 27px;
    }

    &__text1 {
      width: 308px;
    }

    &__text2 {
      width: 149px;

      margin-bottom: 5px;
    }

    &__text3 {
      width: 485px;
      font-size: 150px;
      line-height: 150px;
    }

    &__decor-text1,
    &__decor-text2 {
      position: absolute;
      display: block;
      width: 17px;

      word-break: break-all;

      font-size: 22px;
      line-height: 50px;
      font-weight: 300;
      text-transform: uppercase;
      color: $companion3-text-color;
    }

    &__decor-text1 {
      top: 170px;
      left: 350px;

      opacity: 0.2;
    }

    &__decor-text2 {
      top: 170px;
      left: 400px;

      opacity: 0.6;
    }

    &__video {
      margin-bottom: 60px;
    }

    &__slogan {
      left: 462px;
      top: 475px;

      font-weight: 400;
    }

    &__link {
      width: 75px;
      height: 75px;

      &::before,
      &::after {
        width: 16px;
        height: 2px;
      }

      &::before {
        top: 42px;
        left: 22px;
      }

      &::after {
        width: 18px;
        top: 41px;
        left: 32px;

        box-shadow: 6px -5px 0px 0px $base-bg-color;
      }
    }
  }
}


@media (min-width: 1600px) {
  .promo {
    width: 1140px;

    &__caption {
      width: 610px;
      margin-bottom:  12px;

    }

    &__text1,
    &__text2,
    &__text3 {
      font-size: 33px;
      line-height: 33px;
    }

    &__text1 {
      width: 385px;
    }

    &__text2 {
      width: 215px;

      margin-bottom: 0px;
    }

    &__text3 {
      width: 610px;
      font-size: 185px;
      line-height: 185px;
    }

    &__decor-text1 {
      top: -15px;
      left: 115px;
    }

    &__decor-text2 {
      top: -15px;
      left: 165px;
    }

    &__video {
      margin-bottom: 25px;
    }

    &__slogan {
      left: 917px;
      top: 340px;

      &::before {
        @include pseudo-element;

        width: 118px;
        height: 1px;

        top: 33px;
        left: -142px;

        background-color: $companion6-bg-color;
      }
    }

    &__link {
      margin-left: 0;
    }
  }
}
