@import "_style-lib.scss";

.promo-video {
  width: 214px;
  height: 138px;

  box-shadow: -1px 25px 54px 11px rgba(0,0,0,0.48);

  &__image-wrapper {
    position: relative;

    width: 214px;
    height: 138px;

    &--close {
      display: none;
    }
  }

  &__image {
    position: relative;
    width: 214px;
    height: 138px;
  }

  &__play-button {
    position: absolute;

    top: 45px;
    left: 80px;
    width: 52px;
    height: 52px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &::before {
      @include pseudo-element;
       width: 52px;
       height: 52px;

       top: 0;
       left: 0;

       border-radius: 50%;

       background-color: $companion4-bg-color;
    }

    &::after {
      @include pseudo-element;
      top: 19px;
      left: 22px;

      border: 7px solid transparent;
      border-left: 11px solid $base-bg-color;
    }
  }

  &__play-button-text {
    display: none;
  }

  &__video-content {
    display: none;

    width: 214px;
    height: 138px;

    &--open {
      display: block;
    }
  }


}



@media (min-width: 765px) {
  .promo-video {
    width: 515px;
    height: 259px;


    &__image-wrapper {
      width: 515px;
      height: 259px;
    }

    &__image {
      width: 515px;
      height: 259px;
    }

    &__play-button {
      width: 191px;

      top: 104px;
      left: 158px;
    }

    &__play-button-text {
      display: block;
      padding-left: 58px;

      font-size: 14px;
      line-height: 14px;
      font-weight: 600;

      color: $companion1-text-color;
    }
  }
}


@media (min-width: 1600px) {
  .promo-video {
    width: 582px;
    height: 292px;

    &__image-wrapper {
      width: 582px;
      height: 292px;
    }

    &__image {
      width: 582px;
      height: 292px;
    }

    &__play-button {
      top: 120px;
      left: 190px;
    }
  }
}
