@import "_style-lib.scss";

.site-list {
  display: none;
  position: absolute;
  right: 4.68%;

  flex-wrap: wrap;

  width: 290px;
  margin: 0;
  padding: 0;

  background-color: $base-bg-color;

  list-style: none;
  word-break: break-all;

  &__item {
    border-right: $base-border;
    align-self: center;

    &:last-of-type {
      border-right: none;
    }

    &-link {
        display: block;
        box-sizing: border-box;
        width: 94px;
        padding: 15px 5px;

        // font-size: 13px;
        font-size: 80.25%;
        // line-height: 25px;
        line-height: 192.31%;

        font-weight: 700;
        text-align: center;

        text-transform: uppercase;
        word-break: break-word;

        color: $companion2-text-color;

        &:focus,
        &:hover {
            color: $link-focus-color;
        }

        &:active {
            color: $link-active-color;
        }
    }

    &__item:first-child {
        border-top: $base-border;
    }

  }
}

.site-list--open {
  display: flex;
}


@media (min-width: 765px) {
  .site-list {
    // margin-left: 427px;
    right: 3%;
  }
}


@media (min-width: 1600px) {
  .site-list {
    // margin-left: 850px;
    right: 14.38%;
  }
}
