@import "_style-lib.scss";

.subtitle {
  width: 100%;
  padding: 0;

  font-size: 1.38rem;
  line-height: 1.38rem;
  font-weight: 700;
  color: $companion4-text-color;
}


@media (min-width: 765px) {
  .subtitle {
    &--big {
      width: 62.59%;
    }
  }
}


@media (min-width: 1600px) {
  .subtitle {
    &--big {
      width: 61.40%;
    }
  }
}
