@import "_style-lib.scss";

.text {
  width: 100%;
  padding: 0;

  font-size: 0.78rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: $companion4-text-color;

  &__paragraph {
    padding: 0px;
    margin: 0;
    margin-bottom: 12px;

    &--more-margin {
      margin-bottom: 24px;
    }
  }

  &--about-project {
    font-size: 0.88rem;
  }
}


@media (min-width: 765px) {
  .text {
    &__paragraph {
      margin-bottom: 12px;

      &--more-margin {
        margin-bottom: 0px;
      }
    }

    &--about-project {

      width: 70%;
      max-width: 550px;
    }

    &--about-project-big {
      width: 100%;
      max-width: 100%;
    }
  }

}


@media (min-width: 1600px) {
  .text {
    width: 100%;


    &__paragraph {
      margin-bottom: 12px;

      &--more-margin {
        margin-bottom: 0px;
      }
    }

    &--about-project {
      width: 63.16%;
      max-width: none;
    }

    &--about-project-big {
      width: 63.16%;
    }
  }

}
