@import "_style-lib.scss";

.text {
  // width: 290px;
  width: 100%;
  padding: 0;

  font-size: 12.5px;
  line-height: 24px;
  font-weight: 300;
  color: $companion4-text-color;

  &__paragraph {
    padding: 0px;
    margin: 0;
    margin-bottom: 12px;

    &--more-margin {
      margin-bottom: 24px;
    }
  }

  &--about-project {
    font-size: 14px;
  }
}


@media (min-width: 765px) {
  .text {
    // width: 350px;

    &__paragraph {
      margin-bottom: 12px;

      &--more-margin {
        margin-bottom: 0px;
      }
    }

    &--about-project {
      // width: 478px;
      width: 66.48%;
      max-width: 600px;
    }

    &--about-project-big {
      // width: 719px;
      width: 100%;
      max-width: 100%;
    }
  }

}


@media (min-width: 1600px) {
  .text {
    // width: 463px;
    width: 100%;


    &__paragraph {
      margin-bottom: 12px;

      &--more-margin {
        margin-bottom: 0px;
      }
    }

    &--about-project {
      // width: 720px;
      width: 63.16%;
      max-width: none;
    }

    &--about-project-big {
      // width: 720px;
      width: 63.16%;
    }
  }

}
