@import "_style-lib.scss";

.title {
  // width: 290px;
  width: 92%;
  padding: 0;

  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: $companion2-text-color;
}


@media (min-width: 765px) {
  .title {
    // width: 719px;

    font-size: 42px;
  }
}


@media (min-width: 1600px) {
  .title {
    // width: 925px;
    width: 81.14%;

    font-size: 55px;
    line-height: 55px;

  }
}
