@import "_style-lib.scss";

.video {
  position: relative;
  padding-bottom: 47.59%;

  width: 73.80%;
  height: 0;


  &--features {
    width: 100%;
    padding-bottom: 56.25%;
  }

  &__image-wrapper {
    position: relative;

    width: 100%;
    height: auto;

    box-shadow: -1px 25px 54px 11px rgba(0,0,0,0.48);

    &--features {
      box-shadow: none;
    }

    &--close {
      display: none;
    }
  }

  &__image {
    display: block;
    position: relative;

    width: 100%;
    height: auto;
  }

  &__play-button {
    padding: 0;
    margin: 0;
    position: absolute;
    box-sizing: border-box;

    top: 50%;
    margin-top: -26px;
    left: 50%;
    margin-left: -26px;

    width: 52px;
    height: 52px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &::before {
      @include pseudo-element;
       width: 52px;
       height: 52px;

       top: 0;
       left: 0;

       border-radius: 50%;

       background-color: $companion4-bg-color;
    }

    &::after {
      @include pseudo-element;
      top: 19px;
      left: 22px;

      border: 7px solid transparent;
      border-left: 11px solid $base-bg-color;
    }
  }


  &__play-button:hover.video__play-button::before,
  &__play-button:focus.video__play-button::before {
    opacity: 0.8;
  }
  &__play-button:active.video__play-button::before {
    opacity: 0.6;
  }

  &__play-button-text {
    display: none;
  }

  &__slogan {
    position: absolute;
    max-width: 139px;

    left: 44.14%;
    top: 80.34%;

    font-size: 0.75rem;
    line-height: 1.06rem;
    font-weight: 300;
    color: $companion3-text-color
  }

  &__video-content {
    display: none;
    margin-bottom: 30px;

    width: 100%;
    height: auto;

    &--open {
      display: block;
    }
  }
}



@media (min-width: 765px) {
  .video {
    width: 67.32%;
    padding-bottom: 36%;

    &--open {
      margin-bottom: 60px;
    }

    &--features {
      width: 100%;

      padding-bottom: 56.25%;
      margin: 0 auto;
    }

    &__play-button {
      width: 230px;

      top: 50%;
      margin-top: -26px;
      left: 50%;
      margin-left: -115px;

      padding-left: 52px;

      &--features {
        width: 52px;

        margin-left: -26px;
      }
    }

    &__play-button-text {
      display: block;
      padding: 0 15px;

      font-size: 0.88rem;
      line-height: 0.88rem;
      font-weight: 600;

      color: $companion1-text-color;

      text-align: left;
    }

    &__play-button:hover .video__play-button-text,
    &__play-button:focus .video__play-button-text {
      text-shadow: $base-bg-color 0 0 10px;
    }

    &__play-button:active .video__play-button-text {
      text-shadow: $base-bg-color 0 0 5px;
    }

    &__slogan {
      left: 70.26%;
      top: 80.09%;

      font-weight: 400;
    }
  }
}


@media (min-width: 1600px) {
  .video {
    width: 51.05%;

    padding-bottom: 25.61%;

    &--features {
      width: 100%;
      padding-bottom: 56.25%;
    }

    &__slogan {
      box-sizing: border-box;
      max-width: none;
      width: 270px;
      padding-left: 143px;

      left: 85%;
      top: 40%;

      &::before {
        @include pseudo-element;

        width: 118px;
        height: 1px;

        top: 33px;
        left: 1px;

        background-color: $companion6-bg-color;
      }
    }
  }
}
